@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Kontakt oss</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Kontakt oss</li>
        </ul>
    </div><!--/container-->
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span9">

            <img src="~/Content/image/kontakt.png" />
        
            <br>
            <br>
            <p>Ta kontakt med oss og avtal et møte. Vi kommer gjerne på befaring for å se hva slags arbeid du ønsker å utføre. Vi kommer gjerne med forslag og innspill. Om ønskelig kan du ringe oss å avtale tid på vårt kontor. I alle tilfellene tar vi med oss en del kataloger som kunden kan få se på. Dette er kataloger med forskjellige produktbeskrivesler. Vi gleder oss til å ta en prat med deg!</p><br>
            
        </div><!--/span9-->

        <div class="span3" style="margin-top: -20px;">
            <!-- Contacts -->

            <div class="headline"><h3>Kontakt</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><a href="#"><i class="icon-home"></i>Postadresse: Huflakvegen 14, 6421 Molde</a></li>
                <li><i class="icon-home"></i>Lager: Nedre Fuglset vest for småbåthavn</li>
                <li><i class="icon-phone-sign"></i>Ingvar Jonassen: 915 49 429</li>
                <li><i class="icon-phone-sign"></i>Ellen Jonassen: 916 47 120</li>
                <li><i class="icon-envelope-alt"></i>post@ijonassen.no</li>
                @*<li><i class="icon-globe"></i>http://www.ijonassen.no</li>*@
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h3>Telefontider</h3></div>
            <ul class="unstyled">
                <li><strong>Mandag-Fredag:</strong> 10:00 til 16:00</li>
                <li><strong>Lørdag:</strong> 10:00 til 16:00</li>
                <li><strong>Søndag:</strong> Stengt</li>
               
            </ul>
        
        <br>
            <ul class="unstyled">
                <li>Send gjerne en melding, så ringer vi opp igjen når vi har anledning til det.</li>
            </ul>


            <!-- Why we are? -->
            @*<div class="headline"><h3>Why we are?</h3></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Odio dignissimos ducimus</li>
                <li><i class="icon-ok color-green"></i> Blanditiis praesentium volup</li>
                <li><i class="icon-ok color-green"></i> Eos et accusamus</li>
            </ul>*@
        </div><!--/span3-->
    </div><!--/row-fluid-->
 
</div>