@{
    ViewBag.Title = "Tjenester";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="header">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="logo">
            <a href="/home"><img style="width: 330px" id="logo-header" src="~/Content/image/logo-Anleggsgartner-IngvarJonassenAs.jpg" /></a>



        </div><!-- /logo -->
        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul id="top-nav" class="nav top-2">
                        <li>
                            <a href="/home">
                                Hjem

                            </a>

                        </li>
                        <li class=" active dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Produkter
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/home/tjenester">Alle produkter</a></li>
                                <li><a href="/home/kantstein">Kantstein</a></li>
                                <li><a href="/home/belegning">Belegningsstein</a></li>
                                <li><a href="/home/mur">Mur</a></li>
                                <li><a href="/home/lekeplasspark">Lekeplass og park</a></li>
                                <li><a href="/home/grontareal">Grønt</a></li>
                                <li><a href="/home/trapp">Trapp</a></li>
                                <li><a href="/home/treverk">Treverksarbeid</a></li>
                                <li>
                                    <a href="/home/diverse">Diverse</a>
                                </li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="/home/omoss">
                                Om oss

                            </a>

                        </li>

                        @*<li>
                                <a href="/home/partnere">
                                    Leverandører

                                </a>


                            </li>*@
                        <li>
                            <a href="/kontakt">
                                Kontakt oss

                            </a>

                        </li>

                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search">
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div>
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Grøntareal</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/home">Home</a> <span class="divider">/</span></li>
            <li><a href="/home/tjenester">Tjenester</a><span class="divider">/</span></li>
            <li class="active">Grøntareal</li>
        </ul>
    </div><!--/container-->
</div>





<div class="container portfolio-columns portfolio-responsive">

    <div class="row">

        <h5 class="span12">Vi utfører grunnarbeid og tillaging av gressplen, og kunden kan velge mellom isåing med ulike typer frø, og ferdiggress som legges direkte på jord. Busker og trær i mange ulike typer og størrelser kan vi tilby, tilrettelagt iforhold til klima og beliggenhet. Ugresshemmende tiltak som toppdekke og vedlikehold utfører vi også.</h5>


    </div>
    <div class="row-fluid margin-bottom-20">

        <div id='gallery'>
            <a href="~/Content/image/Grønt.jpg">
                <img src="~/Content/image/Grønt.jpg" alt=" "title="busker">
            </a>
            <a href="~/Content/image/Grønt-2.jpg">
                <img src="~/Content/image/Grønt-2.jpg" alt=" " title="busker">
            </a>
            <a href="~/Content/image/Grønt-3.jpg">
                <img src="~/Content/image/Grønt-3.jpg" alt=" "title="busker">
            </a>
            <a href="~/Content/image/Grønt-ny-1.jpg">
                <img src="~/Content/image/Grønt-ny-1.jpg" alt=" "title="busker">
            </a>
            <a href="~/Content/image/Grønt-ny-2.jpg">
                <img src="~/Content/image/Grønt-ny-2.jpg" alt=" " title="busker">
            </a>

            <a href="~/Content/image/Grønt-ny-4.jpg">
                <img src="~/Content/image/Grønt-ny-4.jpg" alt="" title="busker">
            </a>
            <a href="~/Content/image/Grønt-ny-5.jpg">
                <img src="~/Content/image/Grønt-ny-5.jpg" alt=" " title="busker">
            </a>
            <a href="~/Content/image/Grønt-10.jpg">
                <img src="~/Content/image/Grønt-10.jpg" alt="" title="rullegress">
            </a>
            <a href="~/Content/image/Grønt-11.jpg">
                <img src="~/Content/image/Grønt-11.jpg" alt=" "title="ferdiggress">
            </a>
            <a href="~/Content/image/Grønt-ny-7.jpg">
                <img src="~/Content/image/Grønt-ny-7.jpg" alt=" "title="trær">
            </a>
            <a href="~/Content/image/Grønt-ny-8.jpg">
                <img src="~/Content/image/Grønt-ny-8.jpg" alt=" "title="trær">
            </a>
            <a href="~/Content/image/Grønt-14.jpg">
                <img src="~/Content/image/Grønt-14.jpg" alt=" "title="hekk">
            </a>
            <a href="~/Content/image/Grønt-ny-9.jpg">
                <img src="~/Content/image/Grønt-ny-9.jpg" alt=" "title="blomsterbedd">
            </a>
            <a href="~/Content/image/Grønt-11.jpg">
                <img src="~/Content/image/Grønt-11.jpg" alt=" "title="barnehage">
            </a>
            <a href="~/Content/image/Grønt-ny-10.jpg">
                <img src="~/Content/image/Grønt-ny-10.jpg" alt=" "title="blomster">
            </a>
            <a href="~/Content/image/Grønt-17.jpg">
                <img src="~/Content/image/Grønt-17.jpg" alt=" "title="hage">
            </a>
            <a href="~/Content/image/Grønt-18.jpg">
                <img src="~/Content/image/Grønt-18.jpg" alt=" " title="ferdiggress">
            </a>
            <a href="~/Content/image/Grønt-19.jpg">
                <img src="~/Content/image/Grønt-19.jpg" title="photo1 title">
            </a>
            <a href="~/Content/image/Grønt-ny-11.jpg">
                <img src="~/Content/image/Grønt-ny-11.jpg" alt=" "title="planter">
            </a>
            <a href="~/Content/image/Grønt-ny-12.jpg">
                <img src="~/Content/image/Grønt-ny-12.jpg" alt=" "title="blomster">
            </a>
            <a href="~/Content/image/Grønt-ny-13.jpg">
                <img src="~/Content/image/Grønt-ny-13.jpg" alt=" "title="hage">
            </a>
            <a href="~/Content/image/Grønt-ny-14.jpg">
                <img src="~/Content/image/Grønt-ny-14.jpg" alt=" "title="blomster">
            </a>
            <a href="~/Content/image/Grønt-ny-15.jpg">
                <img src="~/Content/image/Grønt-ny-15.jpg" alt=" "title="hageanlegg">
            </a>
            <a href="~/Content/image/Grønt-ny-16.jpg">
                <img src="~/Content/image/Grønt-ny-16.jpg" alt=" "title="Molde">
            </a>
            <a href="~/Content/image/Grønt-26.jpg">
                <img src="~/Content/image/Grønt-26.jpg" alt=" "title="Molde">
            </a>
            <a href="~/Content/image/Grønt-ny-17.jpg">
                <img src="~/Content/image/Grønt-2.jpg" alt=" "title="planter">
            </a>
            <a href="~/Content/image/Grønt-ny-18.jpg">
                <img src="~/Content/image/Grønt-ny-18.jpg" alt=" "title="rhododendron">
            </a>
            <a href="~/Content/image/Grønt-ny-19.jpg">
                <img src="~/Content/image/Grønt-ny-19.jpg" alt=" " title="trær
                    ">
            </a>





            <!--/row-fluid-->
            <!-- Recent Works -->
        </div>
    </div>

</div>