
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


       
<div class="header">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="logo">
            <a href="/home"><img style="width: 330px" id="logo-header" src="~/Content/image/logo-Anleggsgartner-IngvarJonassenAs.jpg" /></a>



        </div><!-- /logo -->
        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul id="top-nav" class="nav top-2">
                        <li class="active">
                            <a href="/home">
                                Hjem

                            </a>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Produkter
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/home/tjenester">Alle produkter</a></li>
                                <li><a href="/home/kantstein">Kantstein</a></li>
                                <li><a href="/home/belegning">Beleggningsstein</a></li>
                                <li><a href="/home/mur">Mur</a></li>
                                <li><a href="/home/lekeplasspark">Lekeplass og park</a></li>
                                <li><a href="/home/grontareal">Grønt</a></li>
                                <li><a href="/home/trapp">Trapp</a></li>
                                <li><a href="/home/treverk">Treverksarbeid</a></li>
                                <li>
                                    <a href="/home/diverse">Diverse</a>
                                </li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="/home/omoss">
                                Om oss

                            </a>

                        </li>

                        @*<li>
                                <a href="/home/partnere">
                                    Leverandører

                                </a>


                            </li>*@
                        <li>
                            <a href="/kontakt">
                                Kontakt oss

                            </a>

                        </li>

                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search">
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div>
   
<img src="~/Content/image/bg12.jpg" alt="">
    <!--=== Purchase Block ===-->
    <div class="row-fluid purchase margin-bottom-30" >
        <div class="container" style="margin-bottom:170px;margin-top:170px">
            <div class="span8">
                <span>Vi har base i Molde og tar på oss oppdrag i og rundt Møre og Romsdal.</span>
                <p>
                    Vårt marked er både private hager, eiendommer og prosjekt for offentlige aktører. På større prosjekt samarbeider vi ofte med et entreprenør-firma.

                    Vi tar på oss oppdrag innen stein-arbeid og grøntareal, lekeplasser og park, og utfører mindre gravearbeid i forbindelse med dette.
                </p>
            </div>
            <div class="span3">
                <img src="/Content/image/kart3.png" />
            </div>
        </div>
</div><!--/row-fluid-->
    <!-- End Purchase Block -->

<img src="~/Content/image/bg11.jpg" alt="">

    <!--=== Content Part ===-->
    <div class="container" style="margin-bottom:170px;margin-top:170px">
    <!-- Service Blocks -->
    <div class="row-fluid">
        <div class="span4">
            <div class="service clearfix">
                <i class="fa fa-pagelines"></i>
                <div class="desc">
                    <h4>Kvalitet</h4>
                    <p>
                        Vi har fokus på at det som leveres til kunden av varer og arbeid utført av oss skal være av tilfredsstillende kvalitet.
                    </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="service clearfix">
                <i class="fa fa-check-square-o"></i>
                <div class="desc">
                    <h4>Funksjonalitet</h4>
                    <p>
                        varene og arbeidet som leveres og utføres av oss skal være funksjonelt i forhold til det kunden av bestilt.
                    </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="service clearfix">
                <i class="fa fa-users"></i>
                <div class="desc">
                    <h4>Kundebehandling</h4>
                    <p>
                        Vi ønsker å opprette en god kontakt med kundene for å kartlegge hvilke ønsker kundene har for varer som skal leveres og arbeid som skal utføres av oss.
                    </p>
                </div>
            </div>
        </div>
    </div><!--/row-fluid-->
    <!-- //End Service Blokcs -->
    <!-- Recent Works -->
</div>

        <img src="~/Content/image/bg18.jpg" alt="">

<div class="container" style="margin-bottom:170px;margin-top:170px">
    <div class="headline"><h3>Produkter</h3></div>
    <div class="row-fluid">
        <div class="span3" style="text-align:center ">

            <img style="
    width: 200px;
" src="~/Content/image/slid2.png" />
            <div class="service clearfix">


                <h5>Belegningsstein på uteområde, med skiferbelagt inngangsparti.</h5>


            </div>
        </div>
        <div class="span3" style="text-align:center ">

            <img style="
    width: 200px;
"  src="~/Content/image/slid3.png" />
            <div class="service clearfix">


                <h5>Kantstein i granitt, oppbygging og avgrensning av terreng.</h5>


            </div>
        </div>
        <div class="span3" style="text-align:center ">

            <img style="
    width: 200px;
"  src="~/Content/image/slid1.png" />
            <div class="service clearfix">


                <h5>Rhododendron; passer godt til både små og store areal.</h5>


            </div>
        </div>
        <div class="span3" style="text-align:center ">

            <img style="
    width: 200px;
"  src="~/Content/image/slid4.png" />
            <div class="service clearfix">


                <h5>Granittstein som opptrinn og betongheller som inntrinn.</h5>


            </div>
        </div>

    </div>

</div><!--/container-->
    <!-- End Content Part -->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
    @*<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
        <script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
        <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
        <!-- JS Page Level -->
        <script type="text/javascript" src="assets/js/app.js"></script>
        <script type="text/javascript" src="assets/js/pages/index.js"></script>*@
    <script type="text/javascript">
        jQuery(document).ready(function () {
            //App.init();
            //App.initSliders();
            Index.initParallaxSlider();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29166220-1']);
        _gaq.push(['_setDomainName', 'htmlstream.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
