
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


   
 
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider" >
            <div class="da-slide">
                <h2><i>CLEAN &amp; FRESH</i> <br> <i>FULLY RESPONSIVE</i> <br> <i>DESIGN</i></h2>
                <p><i>Lorem ipsum dolor amet</i> <br> <i>tempor incididunt ut</i> <br> <i>veniam omnis </i></p>
                <div class="da-img"><img src="assets/plugins/parallax-slider/img/slider-image.png" alt=""></div>
            </div>
            <div class="da-slide">

             

                <h2><i>her er vår</i> <br> <i>nye hjemmeside</i></h2>
                <p><i>Lorem ipsum dolor amet</i> <br> <i>tempor incididunt ut</i></p>
                <div class="da-img span6">
                    <div class="span6">

                        <img src="~/Content/image/slider-image.png" />
                    </div>
                </div>
            </div>
            <div class="da-slide">
                <h2><i>USING BEST WEB</i> <br> <i>SOLUTIONS WITH</i> <br> <i>HTML5/CSS3</i></h2>
                <p><i>Lorem ipsum dolor amet</i> <br> <i>tempor incididunt ut</i> <br> <i>veniam omnis </i></p>
                <div class="da-img"><img src="assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01"></div>
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
           
        </div><!--/da-slider-->
    </div><!--/slider-->
    <!--=== End Slider ===-->
    <!--=== Purchase Block ===-->
    <div class="row-fluid purchase margin-bottom-30">
        <div class="container">
            <div class="span8">
                <span>Vi tar oppdrag i hele Midt-Norge og har hovedkontor i Molde.</span>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
            </div>
            <div class="span3">
                <img src="/Content/image/kart3.png" />
                </div>
            </div>
    </div><!--/row-fluid-->
    <!-- End Purchase Block -->
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Service Blocks -->
        <div class="row-fluid">
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-resize-small"></i>
                    <div class="desc">
                        <h4>Kvalitet</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-cogs"></i>
                    <div class="desc">
                        <h4>Effektivitet</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-plane"></i>
                    <div class="desc">
                        <h4>Kundebehandling</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </div>
        </div><!--/row-fluid-->
        <!-- //End Service Blokcs -->
        <!-- Recent Works -->
        <div class="headline"><h3>Produkter</h3></div>
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Mur</a>
                    </div>
                   
                    
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Gjerde</a>
                    </div>
                  
                    
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Planter</a>
                    </div>
                   
                    
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Gress</a>
                    </div>
                    
                    
                </div>
            </li>
        </ul><!--/thumbnails-->

        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Mur</a>
                    </div>


                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Gjerde</a>
                    </div>


                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Planter</a>
                    </div>


                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"><img src="~/Content/image/kamera.jpg" /></div>
                        <a class="btn-more hover-effect" href="#">Gress</a>
                    </div>


                </div>
            </li>
        </ul><!--/thumbnails-->
        <!-- //End Recent Works -->
       
      
    </div><!--/container-->
    <!-- End Content Part -->
 
<!-- JS Global Compulsory -->
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
@*<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/pages/index.js"></script>*@
<script type="text/javascript">
    jQuery(document).ready(function () {
        //App.init();
        //App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29166220-1']);
    _gaq.push(['_setDomainName', 'htmlstream.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
