
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


       <div id="myCarousel" class="carousel slide">
           <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1" class=""></li>
               <li data-target="#myCarousel" data-slide-to="2" class=""></li>
               
           </ol>
           <div class="carousel-inner">
               <div class="item active">
                   <img src="~/Content/image/bg12.png" alt="">
                   @*<div class="carousel-caption">
                       <h4>First Thumbnail label</h4>
                       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                   </div>*@
               </div>
               
               <div class="item">
                   <img src="~/Content/image/bg11.png" alt="">
                   @*<div class="carousel-caption">
                       <h4>Third Thumbnail label</h4>
                       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                   </div>*@
               </div>
               
               <div class="item">
                   <img src="~/Content/image/bg14.png" alt="">
                   @*<div class="carousel-caption">
                       <h4>Third Thumbnail label</h4>
                       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                   </div>*@
               </div>
           </div>
           <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
           <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
       </div>
   

    <!--=== Purchase Block ===-->
    <div class="row-fluid purchase margin-bottom-30">
        <div class="container">
            <div class="span8">
                <span>Vi har base i Molde og tar på oss oppdrag i og rundt Møre og Romsdal.</span>
                <p></p>
            </div>
            <div class="span3">
                <img src="/Content/image/kart3.png" />
                </div>
            </div>
    </div><!--/row-fluid-->
    <!-- End Purchase Block -->



    <!--=== Content Part ===-->
    <div class="container">
        <!-- Service Blocks -->
        <div class="row-fluid">
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-resize-small"></i>
                    <div class="desc">
                        <h4>Kvalitet</h4>
                        <p>Vi har fokus på at det som leveres til kunden av varer og arbeid utført av oss skal være av tilfredsstillende kvalitet.
</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-cogs"></i>
                    <div class="desc">
                        <h4>Funksjonalitet</h4>
                        <p>varene og arbeidet som leveres og utføres av oss skal være funksjonelt i forhold til det kunden av bestilt.
</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-plane"></i>
                    <div class="desc">
                        <h4>Kundebehandling</h4>
                        <p>Vi ønsker å opprette en god kontakt med kundene for å kartlegge hvilke ønsker kundene har for varer som skal leveres og arbeid som skal utføres av oss.
</p>
                    </div>
                </div>
            </div>
        </div><!--/row-fluid-->
        <!-- //End Service Blokcs -->
        <!-- Recent Works -->
        <div class="headline"><h3>Produkter</h3></div>
        <div class="row-fluid">
            <div class="span3" style="text-align:center ">

                <img src="~/Content/image/slid2.png" />
                <div class="service clearfix">
                    
                    
                        <h4>Belegningsstein på uteområde i med skiferbelagt inngangsparti.</h4>
                        
                    
                </div>
            </div>
            <div class="span3" style="text-align:center ">

                <img src="~/Content/image/slid3.png" />
                <div class="service clearfix">


                    <h4>Kantstein i granitt, oppbygging og avgrensning av terreng.</h4>


                </div>
            </div>
            <div class="span3" style="text-align:center ">

                <img src="~/Content/image/slid1.png" />
                <div class="service clearfix">


                    <h4>Rhododendron; passer godt til både små og store areal.</h4>


                </div>
            </div>
            <div class="span3" style="text-align:center ">

                <img src="~/Content/image/slid4.png" />
                <div class="service clearfix">


                    <h4>Granittstein som opptrinn og betongheller som inntrinn gir en fin og solid trapp.</h4>


                </div>
            </div>
        </div>
       
      
    </div><!--/container-->
    <!-- End Content Part -->
 
<!-- JS Global Compulsory -->
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
@*<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/pages/index.js"></script>*@
<script type="text/javascript">
    jQuery(document).ready(function () {
        //App.init();
        //App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29166220-1']);
    _gaq.push(['_setDomainName', 'htmlstream.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
