@{
    ViewBag.Title = "Tjenester";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="header">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="logo">
            <a href="/home"><img style="width: 330px" id="logo-header" src="~/Content/image/logo-Anleggsgartner-IngvarJonassenAs.jpg" /></a>



        </div><!-- /logo -->
        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul id="top-nav" class="nav top-2">
                        <li>
                            <a href="/home">
                                Hjem

                            </a>

                        </li>
                        <li class=" active dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Produkter
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/home/tjenester">Alle produkter</a></li>
                                <li><a href="/home/kantstein">Kantstein</a></li>
                                <li><a href="/home/belegning">Beleggningsstein</a></li>
                                <li><a href="/home/mur">Mur</a></li>
                                <li><a href="/home/lekeplasspark">Lekeplass og park</a></li>
                                <li><a href="/home/grontareal">Grønt</a></li>
                                <li><a href="/home/trapp">Trapp</a></li>
                                <li><a href="/home/treverk">Treverksarbeid</a></li>
                                <li>
                                    <a href="/home/diverse">Diverse</a>
                                </li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="/home/omoss">
                                Om oss

                            </a>

                        </li>

                        @*<li>
                                <a href="/home/partnere">
                                    Leverandører

                                </a>


                            </li>*@
                        <li>
                            <a href="/kontakt">
                                Kontakt oss

                            </a>

                        </li>

                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search">
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div>
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Mur</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/home">Home</a> <span class="divider">/</span></li>
            <li ><a href="/home/tjenester">Tjenester</a><span class="divider">/</span></li>
            <li class="active">Mur</li>
        </ul>
    </div><!--/container-->
</div>





<div class="container portfolio-columns portfolio-responsive">

    <div class="row">

        <h5 class="span12">
            Vi tilbyr tillaging av mur i ulike utførelser og størrelser. Vi jobber med naturstein, betong og granitt, og akn utforme muren i forhold til beliggenhet og utseende.
            For eksempel:
            <ul style="margin:15px;margin-left:50px">

                <li>natursteinsmur av Oppdalsskifer</li>
                <li>støttemur av stablesteiner i betong</li>
                <li>plass-støpt mur</li>
                <li>pyntemuren Adel fra Aas Betong</li>
                <li>mur av granittblokker</li>


            </ul>
        </h5>
            
      

    </div>
     <!--/row-fluid-->



    
    <div class="row-fluid margin-bottom-20">

        <div id='gallery'>
            <a href="~/Content/image/Mur-1.jpg">
                <img src="~/Content/image/Mur-1.jpg" title="photo1 title">
            </a>
            <a href="~/Content/image/Mur-2.jpg">
                <img src="~/Content/image/Mur-2.jpg" alt="photo2 title">
            </a>
            <a href="~/Content/image/Mur-3.jpg">
                <img src="~/Content/image/Mur-3.jpg" title="photo3 title">
            </a>
            <a href="~/Content/image/Mur-4.jpg">
                <img src="~/Content/image/Mur-4.jpg" alt="photo4 title" >
            </a>
            <a href="~/Content/image/Mur-5.jpg" >
                <img src="~/Content/image/Mur-5.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-6.jpg">
                <img src="~/Content/image/Mur-6.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-7.jpg">
                <img src="~/Content/image/Mur-7.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-8.jpg">
                <img src="~/Content/image/Mur-8.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-9.jpg">
                <img src="~/Content/image/Mur-9.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-10.jpg">
                <img src="~/Content/image/Mur-10.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-11.jpg">
                <img src="~/Content/image/Mur-11.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-12.jpg">
                <img src="~/Content/image/Mur-12.jpg" alt="photo4 title" title="title">
            </a>
            <a href="~/Content/image/Mur-13.jpg">
                <img src="~/Content/image/Mur-13.jpg" alt="photo4 title" title="title">
            </a>
            

        </div>




    </div>












        <!-- Recent Works -->
    </div>