
@{
    ViewBag.Title = "Tjenester";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Om oss</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/home/">Home</a> <span class="divider">/</span></li>
            <li class="active">Om oss</li>
        </ul>
    </div><!--/container-->
</div>

<div class="container">
    <div class="row-fluid margin-bottom-30">
        <div class="span6">
            <p>Firmaet ble dannet i 1973 sin enkeltmannsforetak av Ingvar Jonassen, og omdannet til aksjeselskap i 2013.

Vi er i dag et mellomstort anleggsgartner-firma med samarbeidspartnere innen entreprenørbransjen, som sammen med det private markedet har gitt oss mangfoldige og allsidige arbeidsoppdrag over mange år.

Antall ansatte har vokst fra en til å i dag være rundt 16 ansatt pr sesong.

Firmaet har godkjent kvalitetssystem og har sentral godkjenning med tiltaksklasse 1.

Daglig leder er Ingvar Jonassen

Assisterende daglig leder er Ellen Jonassen</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                <li><i class="icon-ok color-green"></i> Elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Award winning digital agency</li>
            </ul><br>

            <!-- Blockquotes -->
            <blockquote>
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.</p>
                <small>CEO Jack Bour</small>
            </blockquote>
        </div>
        <div style="text-align: center"class="span6">
           
            <img style="width: 300px" src="~/Content/image/jonassen2.png" />  
            
        </div>
    </div><!--/row-fluid-->
    <!-- Meer Our Team -->
    <div class="headline"><h3>Meer Our Team</h3></div>
    <ul class="thumbnails team">
        <li class="span3">
            <div class="thumbnail-style">
                <img src="~/Content/image/ansatt.jpg" alt="">
                <h3><a>Jack Bour</a> <small>Chief Executive Officer / CEO</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="unstyled inline">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="~/Content/image/ansatt.jpg" alt="">
                <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="unstyled inline team">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="~/Content/image/ansatt.jpg" alt="">
                <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="unstyled inline team">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="~/Content/image/ansatt.jpg" alt="">
                <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="unstyled inline team">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
    </ul><!--/thumbnails-->
    <!-- //End Meer Our Team -->
   
</div>