
@{
    ViewBag.Title = "Tjenester";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="header">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="logo">
            <a href="/home"><img style="width: 330px" id="logo-header" src="~/Content/image/logo-Anleggsgartner-IngvarJonassenAs.jpg" /></a>



        </div><!-- /logo -->
        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul id="top-nav" class="nav top-2">
                        <li>
                            <a href="/home">
                                Hjem

                            </a>

                        </li>
                        <li class=" active dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Produkter
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/home/tjenester">Alle produkter</a></li>
                                <li><a href="/home/kantstein">Kantstein</a></li>
                                <li><a href="/home/belegning">Belegningsstein</a></li>
                                <li><a href="/home/mur">Mur</a></li>
                                <li><a href="/home/lekeplasspark">Lekeplass og park</a></li>
                                <li><a href="/home/grontareal">Grønt</a></li>
                                <li><a href="/home/trapp">Trapp</a></li>
                                <li><a href="/home/treverk">Treverksarbeid</a></li>
                                <li>
                                    <a href="/home/diverse">Diverse</a>
                                </li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="/home/omoss">
                                Om oss

                            </a>

                        </li>

                        @*<li>
                                <a href="/home/partnere">
                                    Leverandører

                                </a>


                            </li>*@
                        <li>
                            <a href="/kontakt">
                                Kontakt oss

                            </a>

                        </li>

                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search">
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div>
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Produkter</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/home/">Home</a> <span class="divider">/</span></li>
            <li class="active">Produkter</li>
        </ul>
    </div><!--/container-->
</div>

<div class="container">
    <div class="row-fluid">
        <div id="w">
            

            <ul class="portfolio recent-work clearfix">
                <li data-id="id-1" class="ios">
                    <a href="/home/kantstein">
                        <em class="overflow-hidden">
                            <img style="width: 265px" src="~/Content/image/bilde3.JPG" />
                        </em>
                        <span>
                            <strong>Kantstein</strong>
                           
                        </span>
                    </a>
                </li>
                <li data-id="id-2" class="ios">
                    <a href="/home/belegning">
                        <em class="overflow-hidden">


                            <img style="width: 265px" src="~/Content/image/bilde1.JPG" />
                        </em>
                        <span>
                            <strong>Beleggningstein</strong>

                        </span>
                    </a>
                </li>
                <li data-id="id-3" class="Tre">
                    <a href="/home/mur">
                        <em class="overflow-hidden">


                            <img style="width: 265px" src="~/Content/image/bilde5.JPG" />
                        </em>
                        <span>
                            <strong>Mur</strong>
                          
                        </span>
                    </a>
                </li>
                <li data-id="id-4" class="Tre">
                    <a href="/home/lekeplasspark">
                        <em class="overflow-hidden">

                            <img style="width: 265px" src="~/Content/image/bilde4.JPG" />
                        </em>
                        <span>
                            <strong>Lekeplass og park</strong>
                       
                        </span>
                    </a>
                </li>
                <li data-id="id-5" class="">
                    <a href="/home/grontareal">
                        <em class="overflow-hidden">
                            <img style="width: 265px" src="~/Content/image/bilde2.JPG" />
                        </em>
                        <span>
                            <strong>Grønt</strong>
                           
                        </span>
                    </a>
                </li>
                <li data-id="id-6" class="Grønt">
                    <a href="/home/trapp">
                        <em class="overflow-hidden"><img style="width: 265px" src="~/Content/image/bilde6.JPG" /></em>
                        <span>
                            <strong>Trapp</strong>
                           
                        </span>
                    </a>
                </li>
                <li data-id="id-7" class="print">
                    <a href="/home/treverk">
                        <em class="overflow-hidden">

                            <img style="width: 265px" src="~/Content/image/bildetreverk.JPG" />
                        </em>
                        <span>
                            <strong>Treverksarbeid</strong>
                         
                        </span>
                    </a>
                </li>
                <li data-id="id-8" class="web">
                    <a href="/home/diverse">
                        <em class="overflow-hidden"><img style="width: 265px" src="~/Content/image/bildediverse.JPG" /></em>
                        <span>
                            <strong>Diverse</strong>
                           
                        </span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div><!--/row-fluid-->
</div>